@use "../../styles/global.scss" as *;
@use "../../styles/partials/colors" as *;

.prepare {
    margin-top: 2rem;

    &__container {
        margin-top: .5rem;
        margin-bottom: .5rem;
        display: flex;
        justify-content: space-between;
    }

    &__form {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 50vw;
        margin: auto;
    }

    &__input {
        width: 70%;

    }

    &__submit {
        background-color: #1F6929;
        border: #1F6929 2px solid;
        color: $primary-color;
        border-radius: 25px;
        padding: .5rem;
        font-weight: 600;
        width: 50%;
        margin: auto;
        margin-top: .5rem;
    }

    &__reset {
        background-color: $delete;
        border: $delete 2px solid;
        color: $primary-color;
        border-radius: 25px;
        padding: .5rem;
        font-weight: 600;
        width: 50%;
        margin: auto;
        margin-top: .5rem;
    }
}