@use "../../styles/global.scss" as *;
@use "../../styles/partials/colors" as *;

.Home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &__container {
        width: 50vw;
        height: 35vh;

        &-grey {
            background-color: $secondary-background;
        }
    }

    &__prep {
        background-color: #6EBB51;
        border: $primary-color 2px solid;
        color: $primary-color;
        border-radius: 25px;
        padding: .5rem;
        font-weight: 600;
        margin-bottom: .75rem;
    }

    &__prep-link {
        color: $primary-color;
        text-decoration: none;

        &:visited {
            color: $primary-color;
        }
    }

    &__display-none {
        display: none;
    }

    &__inRange {
        background-color: $inRange
    }

    &__outOfRange {
        background-color: $outOfRange;
    }



    &__stats {
        display: flex;
        justify-content: center;
        font-weight: 600
    }

    &__data {
        margin-top: 0;
        font-weight: 600;
    }

    &__link {
        text-decoration: none;
        color: $primary-color;

        &:visited {
            color: $primary-color;
        }
    }

    &__edit {
        width: 25%;
        background-color: $medical;
        text-decoration: none;
        border-radius: 25px;
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    &__upcoming-button {
        background-color: $primary-color;
        border: $medical 2px solid;
        color: $medical;
        border-radius: 25px;
        padding: .5rem;
        font-weight: 600;
    }

    &__taken-button {
        background-color: $primary-color;
        border: $medical 2px solid;
        color: $medical;
        border-radius: 25px;
        padding: .5rem;
        font-weight: 600;
    }
}