@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as *;


.Footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    background-color: $medical;
    color: $primary-color;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;

    @media (min-width: $desktop-breakpoint) {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &__list {
        display: flex;
        list-style: none;
        padding-left: 0;
        justify-content: space-around;
        margin: 0;
        width: 100vw;
    }

    &__link {
        color: $primary-color;
        text-decoration: none;

        &:visited {
            color: $primary-color
        }
    }

}