@use "../../styles/global.scss" as *;
@use "../../styles/partials/colors" as *;


.editSchedule {
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    &__container {
        display: flex;
        flex-direction: column;
        width: 80%;
        padding-bottom: 1rem;
    }

    &__button {
        background-color: $primary-color;
        border: $medical 2px solid;
        color: $medical;
        border-radius: 25px;
        padding: .5rem;
        font-weight: 600;
    }
}