@use "../../styles/partials/colors" as *;


.Medications {
    &__name {
        color: $medical
    }

    &__current {
        display: flex;
        list-style: none;
        flex-direction: column;
    }

    &__interactions {
        display: flex;
        justify-content: center;

        &-container {
            border-top: 2px solid $medical;
            margin-top: 1rem;
        }
    }

    &__button {
        background-color: $primary-color;
        border: $medical 2px solid;
        color: $medical;
        border-radius: 25px;
        padding: .5rem;
        font-weight: 600;
        margin-top: .5rem;
    }

    &__delete {
        background-color: $primary-color;
        border: $delete 2px solid;
        color: $delete;
        border-radius: 25px;
        padding: .25rem;
        font-weight: 600;
        margin-left: .5rem;
    }
}