.editDetails {
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__label {}

    &__items {}
}